# <center> Insérer un csv dans la base de données </center>

In [1]:
import pandas as pd
import mysql.connector as msql
from mysql.connector import Error

## Code

In [111]:
def connexion():
    global conn
    try:
        conn = msql.connect(host='localhost', user='name_user', port='port', password='user_password', database='database_name')
        if conn.is_connected():
            print("Connexion réussie !")
        cursor = conn.cursor()
    except Error as e:
        print("Erreur : impossible de se connecter à la bdd...", e)
        
def create_table(name):
    global conn
    sql = '''CREATE TABLE IF NOT EXISTS ''' + name + ''' (ISBN VARCHAR(13) PRIMARY KEY, auteur VARCHAR(255),titre VARCHAR(255),edition VARCHAR(255),date INT(4))'''
    try:
        cursor = conn.cursor()
        cursor.execute(sql)
        print("Création de la table", name, ": ok !")
    except Error as e:
        print("Erreur : impossible de créer la table.", e)   
        
def delete_table(name):
    
    sql = '''DROP TABLE  ''' + name
    try:
        cursor = conn.cursor()
        cursor.execute(sql)
        print("Suppression de la table", name,": ok !")

    except Error as e:
        print("Erreur : impossible de supprimer la table.", e)   
        
def insert_data(df_name, table_name):
    import pandas as pd
    # dataframe :
    df = pd.read_csv(df_name + '.csv')
    # insert data
    try : 
        cursor = conn.cursor()
        for row in df.itertuples():
            cursor.execute('''
                            INSERT INTO '''+ table_name +''' (ISBN, auteur, titre, edition, date)
                        VALUES (%s, %s, %s, %s, %s)
                        ''',
                        (row.ISBN, row.Auteur, row.Titre, row.Edition,row.Date))
        conn.commit()
        print("Insertions data : ok !")
    
    except Error as e:
        print("Error while connecting to MySQL", e)  

def deconnexion():
    global conn
    conn.close()
    print("Déconnexion réussie.")

In [107]:
connexion()

Connexion réussie !

In [109]:
create_table("ref")

Création de la table ref : ok !

In [112]:
insert_data("test_bdd", "ref")

Insertions data : ok !

In [108]:
delete_table("ref")

Suppression de la table ref : ok !

In [113]:
deconnexion()

Déconnexion réussie.